.navbar{
    background-color: #Cbff98;
}
.jumbotron{
    padding: 2rem 1rem;
    background-color: #D3f1a7;
}
#projects{
    background-color: #D3f1a7;
}
.footer{
    background-color: #B6d889;
}